<h1>Thank you for booking your travel with Tripeygo</h1>

<p>
  Please Find your booking Details below.
</p>

<table>
  <tr>
    <td>
      Name
    </td>
    <td>
      <%= name %>
    </td>
  </tr>
  <tr>
    <td>
      Pick up Location
    </td>
    <td>
      <%= pickupLocation %>
    </td>
  </tr>
  <tr>
    <td>
      Drop Location
    </td>
    <td>
      <%= dropLocation %>
    </td>
  </tr>
  <tr>
    <td>
      Vehicle Registration
    </td>
    <td>
      <%= vehicleId %>
    </td>
  </tr>
  <tr>
    <td>
      Driver's Name
    </td>
    <td>
      <%= drivername %>
    </td>
  </tr>
</table>
